
<div class="collapse navbar-collapse navbar-ex1-collapse"
	data-th-fragment="sidebarmenuitem">
	<ul class="nav navbar-nav side-nav">
		<li class="active"><a href="StaffManager.html"
			th:href="StaffManager.html"><i class="fa fa-fw fa-dashboard"></i>
				Room Management</a></li>
		<li><a href="NhanVien.html" th:href="NhanVien.html"><i
				class="fa fa-fw fa-bar-chart-o"></i> Staff Management </a></li>
		<li><a href="LoaiPhong.html"><i class="fa fa-fw fa-desktop"></i>
				Kind of room Management</a></li>
		<li><a href="Phong.html"><i class="fa fa-fw fa-desktop"></i>
				Room Management</a></li>

		<li><a href="Prices.html" th:href="Prices.html"><i
				class="fa fa-fw fa-wrench"></i> Prices Management</a></li>

	</ul>
</div>